@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vertical-text {
    writing-mode: vertical-rl;
    rotate: 180deg;
  }
  .gallery-grid-xl {
    grid-template-areas:
      "gallery-1 gallery-1 gallery-2 gallery-3"
      "gallery-1 gallery-1 gallery-4 gallery-5";
  }
  .gallery-grid-lg {
    grid-template-areas:
      "gallery-1 gallery-1"
      "gallery-1 gallery-1"
      "gallery-2 gallery-3"
      "gallery-4 gallery-5";
  }
}
